<div class="user-details">
  <h1> About me</h1>
</div>
<div class="w3-display-container" style="text-align: center;">
  <img width="300" src="../assets/images/me.jpg" class="w3-round">
</div>
<link rel="stylesheet" href="../assets/css/w3.css">
<div class="user-details"></div>

  <p> A Computer Vision Ph.D student working with <a href="https://jbhuang0604.github.io/">Prof. Jia-Bin Huang</a> at University of Maryland, College Park. </p>
  <p>My research interest lies in the intersection of Computational Photography, Computer Vision and Computer Graphics.
  </p>

  <p>
       Recently, I am working on using diffusion models to generate illusion art. I've also been working on <b>3D-Aware GANs</b>
       and <b>Neural Radiance Field</b> on human face, with 
  <a href="https://zhixinshu.github.io/"> Zhixin Shu</a>,
  <a href="https://luanfujun.github.io/"> Fujun Luan</a>,
  <a href="https://sai-bi.github.io/"> Sai Bi</a>, 
  <a href="https://sites.google.com/view/seoungwugoh"> Seoung Wug Oh</a>, 
  <a href="http://www.kalyans.org/"> Kalyan Sunkavalli</a> at <b>Adobe Research</b>  during 2022 Summmer.  
  And
  <a href="http://hsinyinglee.com/"> Hsin-Ying Lee</a>,
  <a href="http://www.stulyakov.com/"> Sergey Tulyakov</a> at <b>Snap Research</b>   in 2021 Summmer.          

  </p>

  <p>
    Before that, I worked with <a href="https://www.cs.cornell.edu/~caruana/"> Rich Caruana</a> (Microsoft Research) and  
    <a href="https://www.birds.cornell.edu/home/staff/andrew-farnsworth/"> Andrew Farnsworth</a> (Cornell University) at Virginia Tech.
    <a href="https://structurefunctionlab.ee.columbia.edu/people/christine-p-hendon"> Christine P Hendon</a>,
    <a href="https://sites.google.com/site/mobiledcc/zk-my-page?authuser=0"> Zoran Kostić</a>,
    and <a href="https://roar.me.columbia.edu/people/sunil-k-agrawal"> Sunil K Agrawal</a>  
    at Columbia University. I also spent some time during the summer at Tsinghua University with <a href="http://people.ee.tsinghua.edu.cn/info/1182/2119.htm"> Guangda Su</a>.  
  </p>
</div>