    <!--INDUSTRY DESCRIPTION -->
    <section class="section projects-section">

      <h2 class="section-title">
        <span class="fa-stack fa-xs">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        Industry
      </h2>
    <div class="container desc">
      <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-responsive" src="../assets/images/adobe.png" alt="" style="width:150px;height:150px;">
                    <p class="text-center"> Adobe Research <br/> May 2022 - Nov 2022</p>
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="../assets/images/snap.png" alt="" style="width:150px;height:150px;">
                </div>
            </div>
        </div>
      </div><!--/.row -->
      <br/>
      <hr>
  </div><!--/.container -->