<div class="user-details"t>
    <h1> Misc</h1>


   <p><b>National Park</b></p>  <p>Great Smoky Mountains, NC | Shenandoah, VA | Hawaii Volcanoes, HI | Haleakalā, HI | Lassen Volcanic, CA | Redwood, CA | Yosemite, CA | Olympic, WA 
</p>

<p><b><span class="love">❤</span> Trails and Parks </b><span class="love">❤</span></p> 
 <p> Heritage Farm, VA | Huckleberry, VA | Mountain Lake, VA | Franklin Point, CA | Paint Branch, MD 
</p>
<!-- <p><b>National Park</b></p> -->
<p> ✨ </p>
<p>
    I started to play piano since 4 years old, but after I got the amateur top level certificate of piano. </p>
    <p>I just quit.</p> 

<p>
    I also learned painting around the same age, and explored 1 or 2 years each on Sketch(素描), quick sketch(速写), Chinese Painting(Gongbi 工笔 & Xieyi 写意), Gouache(水粉), Watercolor(水彩). 
</p>
<p>I am still a fan of  <a href="../assets/images/Gongbi.png"> painting</a>.</p>
</div>
