<div class="user-details">
    <h1> Publications </h1>
  </div>
  <div class="w3-display-container" style="text-align: center;">
  </div>
  <link rel="stylesheet" href="../assets/css/w3.css">




<link rel="stylesheet" href="../assets/css/w3.css">
<div class="user-details">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/v9k_UzUKtcE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="video-text" style="display: flex; justify-content: center; align-items: left; flex-direction: column;"> 
    <p style="text-align: center;"><b>Dynamic Mesh-Aware Radiance Fields</b> 
    <br />
    <a href="https://ylqiao.net/">Yi-Ling Qiao</a>, 
    <a href="https://www.alexandergao.com/">Alexander Gao</a>, 
    <a href="https://twizwei.github.io/">Yiran Xu</a>, 
    <a href="https://yuefeng21.github.io/">Yue Feng</a>,
    <a href="https://jbhuang0604.github.io/">Jia-Bin Huang</a>
    <a href="https://www.cs.umd.edu/~lin/">Ming C. Lin</a> 
    <br />
    <i>Proceedings of International Conference on Computer Vision (ICCV), 2023</i>
    <br />
    [<a href="https://arxiv.org/abs/2309.04581">Paper (PDF)</a>]
    [<a href="https://mesh-aware-rf.github.io/">Project Page</a>]
    [<a href="https://www.youtube.com/watch?v=v9k_UzUKtcE&ab_channel=YilingQiao">Video</a>]
    [<a href="https://github.com/YilingQiao/DMRF">Code</a>]
    [<a href="https://youtu.be/7rvjZQy_RQs?si=uIJluiwZ0VrXS1or&t=314">Two Minute Papers</a>]
    [<a href="https://huggingface.co/papers/2309.04581">Hugging face 🤗 </a>] 
    <br /></p>

    <br />

  
  </div>