<div class="user-details">
    <h1> News</h1>
  </div>
  <link rel="stylesheet" href="../assets/css/w3.css">
  <div class="user-details"></div>
  <p style="text-align: center; font-size: 30px;">
    <a href="https://cvpr.thecvf.com/virtual/2024/workshop/23635" style="color: inherit; text-decoration: none;">
        Submitted work featured in CVPR: Computer Vision for Fashion, Art, and Design Workshop
    </a>
  </p>
    

</div>
<div class="user-details">
  <h1> Review Service</h1>
</div>
<link rel="stylesheet" href="../assets/css/w3.css">
<div class="user-details"></div>
  <p style="text-align: center; font-size: 30px;"> Conference Reviewer: CVPR 2024, ECCV 2024, Neurips 2024</p>
</div>