
<div class="user-details">
  <h1> News</h1>
</div>
<link rel="stylesheet" href="../assets/css/w3.css">
<div class="user-details"></div>
<p style="text-align: center; font-size: 30px;"> 
  Submitted work featured in CVPR 2024 - 7th 
    <a href="https://cvpr.thecvf.com/virtual/2024/workshop/23635" style="color: inherit; text-decoration: none;">
      Workshop on Computer Vision for Fashion, Art, and Design
    </a> 
</p>
</div>
<div class="user-details">
<h1> Review Service</h1>
</div>
<link rel="stylesheet" href="../assets/css/w3.css">
<div class="user-details"></div>
<p style="text-align: center; font-size: 30px;"> Conference/Journal Reviewer: AAAI 2025, ACM TIST 2025, ICLR 2025, AISTATS 2025, CVPR 2024, ECCV 2024, Neurips 2024</p>
</div>
