<!DOCTYPE html>
<link rel="stylesheet" href="../assets/css/devicon.min.css">
<link rel="stylesheet" href="../assets/css/w3.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
  <img width="300" src="../assets/images/me.jpg" class="w3-round">

        <!-- {% include intro_header.html %} -->
      </section>
        <!-- {{ content }} -->
      {% include intership.html %}
      {% include education.html %}
      {% include footer.html %}
  </body>
</html>
